@model ReleaseNotesAdministration.ViewModels.ReleaseNoteAdminViewModel

@{
    ViewData["Title"] = "Create release note";
}

<head>
    <style>
        .check:hover {
            cursor: pointer;
        }
    </style>

    <script>
        //Client validation
        $(document).ready(function () {
            $(".submitButton").click(function (evt) {
                var title = document.getElementById('Title').value;
                var bodyText = CKEDITOR.instances['BodyText'].getData();
                var createdBy = document.getElementById('CreatedBy').value;
                var productId = document.getElementById('ProductId').value;
                var pickedWorkItems = document.querySelector('input[name="PickedWorkItems"]:checked');
 
                if (!pickedWorkItems) {
                    evt.preventDefault();
                    document.getElementById('PickedWorkItemsValidation').innerHTML = "*Related work items are required to create a new release note!";
                    document.getElementById('PickedWorkItemsValidation').style.color = "red";

                    $(".PickedWorkItems").on('change', function () {
                        var ok = "";
                        $("#PickedWorkItemsValidation").html(ok);
                    });
                }

                if (title.length == 0) {
                    evt.preventDefault();
                    document.getElementById('TitleValidation').innerHTML = "*Title is required to create a new release note!";
                    document.getElementById('TitleValidation').style.color = "red";

                    $("#Title").on('keyup', function () {
                        var ok = "";
                        $("#TitleValidation").html(ok);
                    });
                }

                if (bodyText.length == 0) {
                    evt.preventDefault();
                    document.getElementById('BodyTextValidation').innerHTML = "*Body text is required to create a new release note!";
                    document.getElementById('BodyTextValidation').style.color = "red";

                    $("#BodyText").on('keyup', function () {
                        var ok = "";
                        $("#BodyTextValidation").html(ok);
                    });
                }

                if (createdBy.length == 0) {
                    evt.preventDefault();
                    document.getElementById('CreatedByValidation').innerHTML = "*Author name is required to create a new release note!";
                    document.getElementById('CreatedByValidation').style.color = "red";

                    $("#CreatedBy").on('keyup', function () {
                        var ok = "";
                        $("#CreatedByValidation").html(ok);
                    });
                }

                if (productId.length == 0) {
                    evt.preventDefault();
                    document.getElementById('ProductIdValidation').innerHTML = "*Product is required to create a new release note!";
                    document.getElementById('ProductIdValidation').style.color = "red";

                    $("#ProductId").on('keyup', function () {
                        var ok = "";
                        $("#ProductIdValidation").html(ok);
                    });
                }
            });
        });

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myList li").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });

        $(document).ready(function () {
            if ('@TempData["CreateReleaseNote"]' == "Failed") {
                window.toastr.error("An error occured when trying to create a new release note");
            }
        });
    </script>
</head>

<div class="text-center">
    <h1 class="display-4">Talentech - Release Notes Administration</h1>
    <hr class="mb-3 mt-1" />
</div>

<label class="float-left mb-2"><strong style="font-size: 22px;">Create new release note</strong></label>
<br />
<div class="mt-4 mb-3">
    <a asp-controller="ReleaseNotesAdmin" asp-action="ListAllReleaseNotes"><span class="fa fa-arrow-left"></span> Back to release notes</a>
</div>

<div class="row">
    <div class="col-md-6">
        <form asp-action="CreateReleaseNote" onsubmit="return validation()" method="post">
            <div class="form-group">
                <label for="Title" class="control-label">Title</label>
                <input asp-for="Title" class="form-control" id="Title" />
                <span id="TitleValidation"></span>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-left: 2px; padding-right: 2px; padding-top: 2px;">
                <label for="BodyText" class="control-label">Body text</label>
                <textarea class="form-control" asp-for="BodyText" runat="server" id="BodyText"></textarea>
                <script>
                    // Replace the <textarea id="ckeditor"> with a CKEditor
                    CKEDITOR.replace('BodyText');
                    //Config to remove paragraph tags
                    CKEDITOR.config.autoParagraph = false;
                    config.extraPlugins = 'simpleuploads,imagesfromword';
                    config.coreStyles_bold = { element: 'b', overrides: 'strong' };
                </script>
                <span id="BodyTextValidation"></span>
                <span asp-validation-for="BodyText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ProductId" class="control-label">Product</label>
                <select asp-for="ProductId"
                        asp-items="@(new SelectList(ViewBag.products,"ProductId","ProductName"))" class="form-control required" id="ProductId">
                    <option value="" disabled selected>Select a product</option>
                </select>
                <span id="ProductIdValidation"></span>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="CreatedBy" class="control-label">Author</label>
                <input asp-for="CreatedBy" class="form-control" id="CreatedBy" />
                <span id="CreatedByValidation"></span>
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>

            <div class="input-group mb-2">
                <label for="myInput" class="mb-1">Which work items are related to the release note you would like to publish?</label>
                <input type="text" class="form-control" id="myInput" placeholder="Search">
                <div class="input-group-append">
                    <button class="input-group-text" aria-label="Search button"><span class="fas fa-search"></span></button>
                </div>
            </div>

            <span asp-validation-for="PickedWorkItems" class="text-danger"></span>
            <span id="PickedWorkItemsValidation"></span>
            <div class="mt-2 mb-2">
                <ul class="mb-1 pl-0" id="myList" style="font-size: 16px; list-style-type: none;">
                    @foreach (var item in ViewBag.workitems)
                    {
                        <li>
                            <div class="d-flex justify-content-between mb-2">
                                <div class="d-flex justify-content-start">
                                    <div class="btn-group-vertical">
                                        <div class="custom-control custom-checkbox btn-group-vertical">
                                            <input asp-for="PickedWorkItems" type="checkbox" class="custom-control-input PickedWorkItems" id="@item.Id" value="@item.Id" name="PickedWorkItems">
                                            <label class="custom-control-label" for="@item.Id"></label>
                                        </div>
                                    </div>
                                    <div class="float-left m-auto" id="result">
                                        <label for="@item.Id">@item.Id - @item.Title</label>
                                    </div>
                                </div>
                                <div class="float-right btn-group-vertical">
                                    <a asp-controller="WorkItemAdmin" asp-action="ViewWorkItem" asp-route-id="@item.Id">
                                        <span class="btn btn-outline-secondary p-1 ml-2" style="white-space: nowrap;"><span class="fa fa-eye"></span> View</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>

            <div class="d-flex justify-content-between">
                <div class="justify-content-start">
                    <button type="submit" value="Save and publish" class="btn btn-outline-success float-left mr-1 submitButton" name="submitButton">Save and publish <span class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Save and publish will save the release note and make it visable for the public."></span></button>
                    <button type="submit" value="Save as draft" class="btn btn-outline-success float-left submitButton" name="submitButton">Save as draft <span class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Save as draft will save the release note, but it will not be published for the public."></span></button>
                </div>
                <a class="btn btn-outline-danger float-right" asp-controller="ReleaseNotesAdmin" asp-action="ListAllReleaseNotes"><span class="fa fa-times"></span> Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
