@model IEnumerable<ReleaseNotesAdministration.ViewModels.ReleaseNoteAdminViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript">
    $(document).ready(function () {
        if ('@TempData["CreateRN"]' == "Success") {
            window.toastr.success("You have successfully added a release note");
        } else if ('@TempData["CreateRN"]' == "Failed") {
            window.toastr.error("An error occured when trying to create release note");
        } else if ('@TempData["DeleteRN"]' == "Success") {
        window.toastr.success("Delete was successfull");
        }
    });
</script>

<div class="text-center">
    <h1 class="display-4">Talentech - Release Notes Administration</h1>
    <hr />

    <!-- Temporary code for search function -->
    <div class="col-sm-6 d-inline-block">
        <label class="sr-only" for="inlineFormInputGroup">Search</label>
        <div class="input-group input-group mb-2">
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search">
            <div class="input-group-append">
                <div class="input-group-text"><i class="fas fa-search"></i></div>
            </div>
        </div>
    </div>

    @foreach (var item in Model)
    {
      
            <ul class="mb-2" style="font-size:18px; list-style-type:none;">
                <li>
                    <div class="d-flex justify-content-between">
                        <div class="float-left">
                            @item.Title
                        </div>
                        <div class="float-right">
                            <a asp-controller="ReleaseNotesAdmin" asp-action="ViewReleaseNote" asp-route-id="@item.Id">
                                <span class="btn btn-outline-secondary"><i class="fa fa-eye"></i> View</span>
                            </a>
                        </div>
                    </div>                    
                </li>
            </ul>

        }
    <a class="btn btn-outline-primary mt-3" asp-controller="ReleaseNotesAdmin" asp-action="Create" style="margin-left: auto; margin-right: auto; width: auto;">
        <i class="fa fa-plus"></i> Add release note
    </a>
</div>


