@model IEnumerable<ReleaseNotesAdministration.ViewModels.ReleaseNoteAdminViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myList li").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });

        $(document).ready(function () {
            if ('@TempData["CreateRN"]' == "Success") {
                window.toastr.success("You have successfully created a new release note");
            } else if ('@TempData["CreateRN"]' == "Failed") {
                window.toastr.error("An error occured when trying to create a new release note");
            } else if ('@TempData["DeleteRN"]' == "Success") {
                window.toastr.success("Release note was successfully deleted");
            }
        });
    </script>
</head>

<div class="text-center">
    <h1 class="display-4">Talentech - Release Notes Administration</h1>
    <hr class="mb-3 mt-1" />

    <label class="float-left mb-2 pl-3" for="myInput"><strong style="font-size: 22px;">All release notes</strong></label>
    <br />
    <div class="d-flex justify-content-between mb-3 mt-4">
        <!-- Temporary code for search function -->
        <div class="col-6 d-inline-block float-left">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="myInput" placeholder="Search">
                <div class="input-group-append">
                    <div class="input-group-text" aria-label="Search button"><span class="fas fa-search"></span></div>
                </div>
            </div>
        </div>

        <div class="float-right">
            <a class="btn btn-outline-primary float-left" asp-controller="ReleaseNotesAdmin" asp-action="Create">
                <span class="fa fa-plus"></span> Add release note
            </a>
        </div>
    </div>

    <div class="mb-4 pl-3">
        <label class="float-left"><span class="fa fa-check-circle text-success"></span> = Published  | <span class="fa fa-minus-circle text-warning"></span> = Saved as draft</label>
        <br />
    </div>

    <ul class="mb-2 pl-3" id="myList" style="font-size:18px; list-style-type:none;">
        @foreach (var item in Model)
        {
            <li class="mb-2">
                <div class="d-flex justify-content-between">
                    <div class="float-left">
                        @if(!item.IsDraft)
                        {
                            <span class="fa fa-check-circle text-success"></span>
                        } else
                        {
                            <span class="fa fa-minus-circle text-warning"></span>
                        }
                        @item.Title
                    </div>
                    <div class="float-right">
                        <a asp-controller="ReleaseNotesAdmin" asp-action="ViewReleaseNote" asp-route-id="@item.Id">
                            <span class="btn btn-outline-secondary ml-2" style="white-space: nowrap;"><span class="fa fa-eye"></span> View</span>
                        </a>
                    </div>
                </div>
            </li>
        }
        </ul>
    </div>


