@model IEnumerable<ReleaseNotesAdministration.ViewModels.ReleaseNoteAdminViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .listReleaseNotes {
        list-style-type: none;
        font-size: 22px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        if ('@TempData["CreateRN"]' == "Success") {
            window.toastr.success("You have successfully added a release note");
        } else if ('@TempData["CreateRN"]' == "Failed") {
            window.toastr.error("An error occured when trying to create release note");
        } else if ('@TempData["DeleteRN"]' == "Success") {
        window.toastr.success("Delete was successfull");
        }
    });
</script>

<div class="text-center">
    <h1 class="display-4">Talentech - Release Notes Administration</h1>
    <hr />

    <!-- Temporary code for search function
    <div class="col-6">
        <label class="sr-only" for="inlineFormInputGroup">Search</label>
        <div class="input-group input-group mb-2">
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search">
            <div class="input-group-append">
                <div class="input-group-text"><i class="fas fa-search"></i></div>
            </div>
        </div>
    </div>-->

    <!-- Search bar using bootstrap classes -->
    <div class="input-group col-6 ">
        <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon"><i class="fas fa-search"></i></div>
        </div>
        <input type="text" class="form-control" placeholder="Search">
    </div>

    @foreach (var item in Model)
    {
        <ul class="listReleaseNotes">
            <li>
                <div class="float-left">
                    @item.Title
                </div>
                <div class="float-right">
                    <a asp-controller="ReleaseNotesAdmin" asp-action="ViewReleaseNote" asp-route-id="@item.Id">
                        <span class="btn btn-outline-secondary">View</span>
                    </a>
                </div>
                <br />

            </li>
        </ul>
    }
    <a class="btn btn-outline-primary" asp-controller="ReleaseNotesAdmin" asp-action="Create">
        Add release note
    </a>
</div>


