@model ReleaseNotesAdministration.ViewModels.ReleaseNoteAdminViewModel

@{
    ViewData["Title"] = "Delete Release note";
}

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
 
<div class="float-left">
    <a style="background-color: white; color: black; border: 1px solid; border-color: lightcoral;"
       class="btn btn-default"
       asp-controller="ReleaseNotesAdmin"
       asp-action="ListAllReleaseNotes">
        <i class="fa fa-arrow-left"></i>
        Back to release note
    </a>
</div>

<div class="d-flex flex-row-reverse">
    <form asp-controller="ReleaseNotesAdmin" asp-action="DeleteReleaseNote" asp-route-id="@Model.Id">
        <input type="submit" class="btn btn-danger" value="Delete" />
    </form>

    <a style="background-color: white; color: black; border: 1px solid; border-color: rgb(42,128,192);"
       class="btn btn-default"
       asp-controller="ReleaseNotesAdmin"
       asp-action="EditReleaseNote"
       asp-route-id="@Model.Id">
        Edit
    </a>
</div>

<div>
    <br/>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BodyText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BodyText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        @if (Model.LastUpdatedBy != null) {
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateDate)
        </dd>
        }
    </dl>
</div>
