@model IEnumerable<ReleaseNotesAdministration.ViewModels.WorkItemViewModel>

@{
    ViewData["Title"] = "All work items";
}

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#myInput").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#myList li").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                    });
                });
            });
        </script>

        <script type="text/javascript">
            $(document).ready(function () {
                if ('@TempData["CreateWorkItem"]' == "Success") {
                    window.toastr.success("You have successfully created a new work item");
                } else if ('@TempData["CreateWorkItem"]' == "Failed") {
                    window.toastr.error("An error occured when trying to create a new work item");
                } else if ('@TempData["DeleteWorkItem"]' == "Success") {
                    window.toastr.success("Work item was successfully deleted");
                }
            });
        </script>
    </head>

    <div class="text-center">
        <h1 class="display-4">Talentech - Release Notes Administration</h1>
        <hr class="mb-5 mt-1" />

        <div class="d-flex justify-content-between mb-3">
            <!-- Temporary code for search function -->
            <div class="col-6 d-inline-block float-left">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="myInput" placeholder="Search">
                    <div class="input-group-append">
                        <div class="input-group-text"><i class="fas fa-search"></i></div>
                    </div>
                </div>
            </div>

            <div class="float-right">
                <a class="btn btn-outline-primary float-left" asp-controller="WorkItemAdmin" asp-action="Create">
                    <i class="fa fa-plus"></i> Add work item
                </a>
            </div>
        </div>

        <ul class="mb-2 pl-3" id="myList" style="font-size:18px; list-style-type:none;">
            @foreach (var item in Model)
            {
                <li class="mb-2">
                    <div class="d-flex justify-content-between">
                        <div class="float-left">
                            @item.Id - @item.Title
                        </div>
                        <div class="float-right btn-group-vertical">
                            <a asp-controller="WorkItemAdmin" asp-action="ViewWorkItem" asp-route-id="@item.Id">
                                <span class="btn btn-outline-secondary p-1 ml-2" style="white-space: nowrap;"><i class="fa fa-eye"></i> View</span>
                            </a>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>


