@model IEnumerable<ReleaseNotes.ViewModels.ReleaseNoteViewModel>

@{
    ViewData["Title"] = "List LatestReleaseNote";
}

<style>
    #headerTitle {
        font-size: 250%;
        margin-bottom: 5.5%;
        margin-top: 2%
    }

    #releaseNoteTitle {
        font-weight: bold;
        font-size: 125%;
    }

    #creatorName, #updateName {
        font-weight: bold;
        font-style: italic;
    }

    #hrTag {
        margin-bottom: -1.5%;
    }

    #updatedText {
        margin-top: 1.25%;
        margin-bottom: -1%;
    }
</style>

<div class="main">
    <h1 id="headerTitle">Newest published release note</h1>

    <div class="content">
        @foreach (var item in Model)
        {
            <div id="releaseNoteTitle">
                @item.Title
            </div>

            <label>Created by <span id="creatorName">@item.CreatedBy</span> on @item.CreatedDate.ToString().Split()[0]</label>
            <hr id="hrTag" />
            <br>
            @item.BodyText
            
            <!-- if loop to check if the releasenotes hanst been updated -->
            @if (item.LastUpdatedBy.Length != 0)
            {
                <div id="updatedText">
                    <label>Last updated by <span id="updateName">@item.LastUpdatedBy</span> on @item.LastUpdateDate.ToString().Split()[0]</label>
                </div>
            }
            <hr />
            <br>
            <br>
        }
    </div>
</div>