@model IEnumerable<ReleaseNotes.ViewModels.ReleaseNoteViewModel>

@{
    ViewData["Title"] = "All Release Notes";
}

    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#myInput").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $(".searchResult li").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                    });
                });
            });
        </script>
    </head>

<div class="main">
    <h2 class="mb-3 font-weight-bolder">All published release notes</h2>


    <div class="content">
        <div class="d-flex justify-content-between mb-3">
            <div class="float-left mt-2 mb-4">
                <a asp-controller="Product" asp-action="ListAllProducts">
                    <span class="fa fa-arrow-left"></span> Back to products
                </a>
            </div>

            <form class="col-6 d-inline-block float-right">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="myInput" placeholder="Search for a keyword">
                    <div class="input-group-append">
                        <button aria-label="Search button" class="input-group-text"><span class="fas fa-search"></span></button>
                    </div>
                </div>
            </form>
        </div>

        @{bool ReleaseNoteFound = false; }

        <ul class="searchResult pl-0" style="list-style-type: none;">
            @foreach (var item in Model)
            {
                <li>
                    <h5 class="font-weight-bold mt-5">
                        @item.Title
                    </h5>

                    <label>Posted by <span class="font-weight-bold font-italic">@item.CreatedBy</span> on @item.CreatedDate.ToString().Split()[0]</label>
                    <hr class="mb-1 mt-auto" />

                    <!-- Decodes html tags that are made by cdkeditor -->
                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.BodyText))
                    <br />

                    @if (item.PickedWorkItems != null)
                    {
                        <label class="mt-3">Related work items: </label>

                        string[] PickedWorkItemsId = item.PickedWorkItems.Split(' ');
                        PickedWorkItemsId = PickedWorkItemsId.Take(PickedWorkItemsId.Count() - 1).ToArray();

                        foreach (var id in PickedWorkItemsId)
                        {
                            <a asp-controller="WorkItem" asp-action="ListWorkItem" asp-route-id="@id">#@id</a>
                        }
                    }

                    <!-- if loop to check if the releasenotes has been updated -->
                    @if (item.LastUpdatedBy != null)
                    {
                        <div class="mt-3">
                            <label>Last updated by <span class="font-weight-bold font-italic">@item.LastUpdatedBy</span> on @item.LastUpdateDate.ToString().Split()[0]</label>
                        </div>
                    }
                    <hr class="mt-1" />
                </li>
                ReleaseNoteFound = true;
            }
        </ul>
            
        @if (!ReleaseNoteFound)
        {
            <label>There is currently no release notes published for this product.</label>
        }
    </div>
</div>