@model IEnumerable<ReleaseNotes.ViewModels.ReleaseNoteViewModel>

@{
    ViewData["Title"] = "Talent Onboarding";
}

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<style>
    .headerTitle {
        font-size: 250%;
        margin-bottom: 2.5%;
    }

    .releaseNoteTitle {
        font-weight: bold;
        font-size: 125%;
    }

    .creatorName, .updateName {
        font-weight: bold;
        font-style: italic;
    }

    .hrTag {
        margin-bottom: -1.5%;
    }

    .updatedText {
        margin-top: 1.25%;
        margin-bottom: -1%;
    }

    .submitButton {
        margin-top: 0.25%;
    }

    .backButton {
        background-color: white;
        color: black;
        border: 1px solid;
        border-color: lightcoral;
    }
</style>

<div class="main">
    <h1 class="headerTitle">Release notes for Talent Onboarding</h1>

    <div class="content">
        @{bool ReleaseNoteFound = false; }

        @foreach (var item in Model)
        {
            <div class="releaseNoteTitle">
                @item.Title
            </div>

            <label>Posted by <span class="creatorName">@item.CreatedBy</span> on @item.CreatedDate</label>
            <hr class="hrTag" />
            <br>
            @item.BodyText
            <br>

            <!-- if loop to check if the releasenotes has been updated -->
            @if (item.LastUpdatedBy != null)
            {
                <div class="updatedText">
                    <label>Last updated by <span class="updateName">@item.LastUpdatedBy</span> on @item.LastUpdateDate</label>
                </div>
            }
            <hr />

            <form asp-controller="Home" asp-action="action" method="post">
                <input class="col-6" placeholder="Would you like to subscribe to updates? Enter your email!" /> <!--asp-for="UserEmail"-->
                <div class="submitButton"><input type="submit" value="Subscribe" /></div>
            </form>
            <br>
            <br>
            ReleaseNoteFound = true;
        }

        @if (!ReleaseNoteFound)
        {
            <label>There is currently no release notes published for this product.</label>
        }
    </div>

    <div>
        <a class="backButton btn btn-default" asp-controller="Product" asp-action="Index"><i class="fa fa-arrow-left"></i> Back to products</a>
    </div>
</div>