@model IEnumerable<ReleaseNotes.Models.releaseNotes>



@{
    ViewData["Title"] = "ListLatestReleaseNote";
}


<style>
    #headerTitle {
        font-size: 250%;
        margin-bottom: 5.5%;
        margin-top: 2%
    }

    #releaseNoteTitle {
        font-weight: bold;
        font-size: 125%;
    }

    #creatorName, #updateName {
        font-weight: bold;
        font-style: italic;
    }

    #hrTag {
        margin-bottom: -1.5%;
    }

    #updatedText {
        margin-top: 1.25%;
        margin-bottom: -1%;
    }
</style>



<h1 id="headerTitle">Newest published release note</h1>
<!--
@foreach (var item in Model)
{

    @Html.DisplayNameFor(model => model.title)
    <br>
    @Html.DisplayNameFor(model => model.bodytext)
    <br>
    @Html.DisplayNameFor(model => model.id)
    <br>
    @Html.DisplayNameFor(model => model.productId)
    <br>
    @Html.DisplayNameFor(model => model.createdBy)
    <br>
    @Html.DisplayNameFor(model => model.createdDate)
    <br>
    @Html.DisplayNameFor(model => model.lastUpdatedBy)
    <br>
    @Html.DisplayNameFor(model => model.lastUpdatedDate)
}
-->
@foreach (var item in Model)
{
    <div id="releaseNoteTitle">
        <!--@Html.DisplayNameFor(model => model.title)-->
        @Html.DisplayFor(modelItem => item.title)
    </div>

    @Html.DisplayNameFor(model => model.createdBy) <span id="creatorName">@Html.DisplayFor(modelItem => item.createdBy)</span> @Html.Raw("on ") @Html.DisplayFor(modelItem => item.createdDate)
    <hr id="hrTag" />
    <br>
    @Html.DisplayFor(modelItem => item.bodytext)

    <!--
    @Html.DisplayFor(modelItem => item.id)
    <br>
    @Html.DisplayFor(modelItem => item.productId)
    -->
    <br>
    <!--
    <div style=font-weight:bold>
        @Html.DisplayNameFor(model => model.createdDate)
    </div>
    @Html.DisplayFor(modelItem => item.createdDate)
    <br> -->

    <!-- if loop to check if the releasenotes hanst been updated -->
    @if (item.lastUpdatedBy.Length != 0)
    {
        <div id="updatedText">
            @Html.DisplayNameFor(model => model.lastUpdatedBy) @Html.Raw(" ") <span id="updateName">@Html.DisplayFor(modelItem => item.lastUpdatedBy)</span> @Html.Raw("on ") @Html.DisplayFor(modelItem => item.lastUpdatedDate)
        </div>
    }
    <hr />
    <br>
    <br>
}