@model IEnumerable<ReleaseNotesAdministration.ViewModels.ProductAdminViewModel>

@{
    ViewData["Title"] = "All Products";
}

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<style>
    .editButton, .deleteButton, .addButton {
        background-color: white;
        color: black;
        border: 1px solid;
        border-color: rgb(42,128,192);
    }

    a:hover {
        text-decoration: none;
    }

    .addButton {
        float: right;
    }

    .productTitle {
        float: left;
    }
</style>

<div class="headerRow">
    <h3 class="productTitle">All Products</h3>
    <a class="addButton btn btn-default" asp-controller="ProductsAdmin" asp-action="Create">
        Add new
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Product Id
            </th>
            <th>
                Product Name
            </th>
            <th>
                Product Image
            </th>
            <th>
                Product Description
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ProductId
                </td>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.ProductImage
                </td>
                <td>
                    @item.ProductDescription
                </td>
                <td>
                    <!-- Endre disse slik vi gjorde i list release notes -->
                    <a asp-controller="ProductsAdmin" asp-action="EditProduct" asp-route-id="@item.ProductId">
                        <span class="editButton btn btn-default">Edit</span>
                    </a> |
                    <a asp-controller="ProductsAdmin" asp-action="DeleteProduct" asp-route-id="@item.ProductId">
                        <span class="deleteButton btn btn-default">Delete</span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
