@model IEnumerable<ReleaseNotes.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Products";
}

<style>
    .card-title {
        color: rgb(42,128,192);
    }

    .card-body, .card-title {
        cursor: pointer;
    }

    .card:hover {
        border: 1px solid;
        border-color: rgb(42,128,192);
    }

    .hrTag {
        margin-top: 6px;
        margin-bottom: 3px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Talentech - Release Notes</h1>
    <hr />
    <h3>Which product would you like to view release notes from?</h3>
    <!-- Product cards -->
    <div class="row mt-4 col-12 pr-0">
        @{bool ProductFound = false; }

        @foreach (var item in Model)
        {
            <div class="col-12 col-sm-4">
                <div class="card mb-3">
                    <a asp-controller="ReleaseNotes" asp-action="ListReleaseNotesForProduct" asp-route-productId="@item.ProductId">
                        <div class="card-body">

                            <img src="@item.ProductImage" alt="@item.ProductDescription product icon" />
                            <hr />
                            <h4><label class="card-title" asp-for="@item.ProductName">@item.ProductName</label></h4>
                        </div>
                    </a>
                </div>
            </div>
            ProductFound = true;
        }

        @if (!ProductFound)
        {
            <label>There is currently no products published.</label>
        }
    </div>
</div>
