@model IEnumerable<ReleaseNotes.ViewModels.ReleaseNoteViewModel>

@{
    ViewData["Title"] = "ListReleaseNotes";
}

<style>
    #headerTitle {
        font-size: 250%;
        margin-bottom: 2.5%;
    }

    #releaseNoteTitle {
        font-weight: bold;
        font-size: 125%;
    }

    #creatorName, #updateName {
        font-weight: bold;
        font-style: italic;
    }

    #hrTag {
        margin-bottom: -1.5%;
    }

    #updatedText {
        margin-top: 1.25%;
        margin-bottom: -1%;
    }

    #submitButton {
        margin-top: 0.25%;
    }
</style>


<h1 id="headerTitle">Release notes</h1>

<!-- Foreach loop results in the span, hr, div etc to have the same id - any fix?-->
@foreach (var item in Model)
{
    <div id="releaseNoteTitle">
        @Html.DisplayFor(modelItem => item.Title)
    </div>

    @Html.DisplayNameFor(model => model.CreatedBy) <span id="creatorName">@Html.DisplayFor(modelItem => item.CreatedBy)</span> @Html.Raw("on ") @Html.DisplayFor(modelItem => item.CreatedDate)
    <hr id="hrTag" />
    <br>
    @Html.DisplayFor(modelItem => item.Bodytext)
    <br>
    
    <!-- if loop to check if the releasenotes hanst been updated -->
    @if (item.LastUpdatedBy.Length != 0)
    {
        <div id="updatedText">
            @Html.DisplayNameFor(model => model.LastUpdatedBy) @Html.Raw(" ") <span id="updateName">@Html.DisplayFor(modelItem => item.LastUpdatedBy)</span> @Html.Raw("on ") @Html.DisplayFor(modelItem => item.LastUpdatedDate)
        </div>
    }
    <hr />
    @Html.TextBox("userEmail", null, new { @class = "form-control", @placeholder = "Would you like to subscribe to updates? Enter your email!"})
    @using (Html.BeginForm("action", "Home"))
    {
        <div id="submitButton"><input type="submit" value="Subscribe" /></div>
    }
    <br>
    <br>

}


