@model IEnumerable<ReleaseNotes.ViewModels.ReleaseNoteViewModel>



@{
    ViewData["Title"] = "ListLatestReleaseNote";
}


<style>
    #headerTitle {
        font-size: 250%;
        margin-bottom: 5.5%;
        margin-top: 2%
    }

    #releaseNoteTitle {
        font-weight: bold;
        font-size: 125%;
    }

    #creatorName, #updateName {
        font-weight: bold;
        font-style: italic;
    }

    #hrTag {
        margin-bottom: -1.5%;
    }

    #updatedText {
        margin-top: 1.25%;
        margin-bottom: -1%;
    }
</style>



<h1 id="headerTitle">Newest published release note</h1>

@foreach (var item in Model)
{
    <div id="releaseNoteTitle">
        @Html.DisplayFor(modelItem => item.Title)
    </div>

    @Html.DisplayNameFor(model => model.CreatedBy) <span id="creatorName">@Html.DisplayFor(modelItem => item.CreatedBy)</span> @Html.Raw("on ") @Html.DisplayFor(modelItem => item.CreatedDate)
    <hr id="hrTag" />
    <br>
    @Html.DisplayFor(modelItem => item.Bodytext)



    <!-- if loop to check if the releasenotes hanst been updated -->
    @if (item.LastUpdatedBy.Length != 0)
    {
        <div id="updatedText">
            @Html.DisplayNameFor(model => model.LastUpdatedBy) @Html.Raw(" ") <span id="updateName">@Html.DisplayFor(modelItem => item.LastUpdatedBy)</span> @Html.Raw("on ") @Html.DisplayFor(modelItem => item.LastUpdatedDate)
        </div>
    }
    <hr />
    <br>
    <br>
}