@model IEnumerable<ReleaseNotes.ViewModels.ReleaseNoteViewModel>

@{
    ViewData["Title"] = "TalentManagerReleaseNotes";
}

<style>
    .headerTitle {
        font-size: 250%;
        margin-bottom: 2.5%;
    }

    .releaseNoteTitle {
        font-weight: bold;
        font-size: 125%;
    }

    .creatorName, .updateName {
        font-weight: bold;
        font-style: italic;
    }

    .hrTag {
        margin-bottom: -1.5%;
    }

    .updatedText {
        margin-top: 1.25%;
        margin-bottom: -1%;
    }

    .submitButton {
        margin-top: 0.25%;
    }
</style>


<h1 class="headerTitle">Release notes for Talent Manager</h1>
@foreach (var item in Model)
{
    <div class="releaseNoteTitle">
        @Html.DisplayFor(modelItem => item.Title)
    </div>

    <label>Posted by </label> <span class="creatorName">@Html.DisplayFor(modelItem => item.CreatedBy)</span> <label> on </label> @Html.DisplayFor(modelItem => item.CreatedDate)
    <hr class="hrTag" />
    <br>
    @Html.DisplayFor(modelItem => item.Bodytext)
    <br>

    <!-- if loop to check if the releasenotes hanst been updated -->
    @if (item.LastUpdatedBy != null)
    {
        <div class="updatedText">
            <label>Last updated by </label> <span class="updateName">@Html.DisplayFor(modelItem => item.LastUpdatedBy)</span> <label> on </label> @Html.DisplayFor(modelItem => item.LastUpdatedDate)
        </div>
    }
    <hr />
    <form asp-controller="Home" asp-action="action" method="post">
        <input placeholder="Would you like to subscribe to updates? Enter your email!" /> <!--asp-for="UserEmail"-->
        <div class="submitButton"><input type="submit" value="Subscribe" /></div>
    </form><br><br>
}


